<section class="stories">
  <div class="container">
    <h3 class="page-header">Featured Stories</h3>
    <div class="row">
      <div class="col-sm-4">
        <h4>
          <a href="{{ site.url }}/how-mcas-mandazi-addiction-is-killing-kenyas-poorest">How MCAs mandazi Addiction Is Killing Kenya's Poorest</a>
        </h4>
        <div style="background-image: url('{{ site.url }}/img/stories/story_1.jpg'); height: 100px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: top center;"></div>
        <br/>
        <p>Kenya only has only eight fully equipped MRI facilities where you can get radiation treatment for cancer— one in each of ... </p>
        <p><a class="btn btn-sm btn-primary" href="{{ site.url }}/how-mcas-mandazi-addiction-is-killing-kenyas-poorest">READ MORE</a></p>
      </div>
      <div class="col-sm-12 visible-xs" style="height:20px;"></div>
      <div class="col-sm-4">
        <h4>
          <a href="{{ site.url }}/mcas-malaria-budget">What MCAs tea budget can do to help fight Malaria in their counties</a>
        </h4>
        <div style="background-image: url('{{ site.url }}/img/stories/story_2.jpg'); height: 100px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
        <br/>
        <p>Eight out of every ten people are at risk of catching Malaria.  On average, a malaria-stricken family spends an estimated...</p>
        <p><a class="btn btn-sm btn-primary" href="{{ site.url }}/mcas-malaria-budget">READ MORE</a></p>
      </div>
      <div class="col-sm-12 visible-xs" style="height:20px;"></div>
      <div class="col-sm-4">
        <h4>
          <a href="{{ site.url }}/feeding-frenzy-as-counties-spend-millions-on-hospitality">Feeding frenzy as counties spend millions on ‘hospitality’</a>
        </h4>
        <div style="background-image: url('{{ site.url }}/img/stories/story_3.jpg'); height: 100px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
        <br/>
        <p>Do you know how much your county has been spending on tea, mandazi, samosas and hot lunches for your MCAs and governors?</p>
        <p><a class="btn btn-sm btn-primary" href="{{ site.url }}/feeding-frenzy-as-counties-spend-millions-on-hospitality">READ MORE</a></p>
      </div>
      <div class="col-sm-12 visible-xs" style="height:20px;"></div>
      <div class="col-md-12"><hr></div>
      <div class="col-sm-4">
        <h4>
          <a href="{{ site.url }}/county-spending-arv">How counties spend on tea can buy ARVs for 6,000 HIV people</a>
        </h4>
        <div style="background-image: url('{{ site.url }}/img/stories/story_4.jpg'); height: 100px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
        <br/>
        <p>Nearly one in three persons newly infected with HIV is a teenager or youth, aged between 15-24 years...</p>
        <p><a class="btn btn-sm btn-primary" href="{{ site.url }}/county-spending-arv">READ MORE</a></p>
      </div>
      <div class="col-sm-12 visible-xs" style="height:20px;"></div>
      <div class="col-sm-4">
        <h4>
          <a href="{{ site.url }}/tea-or-tb">Tea or TB wards? What MCAs tea budget can do to help TB patients.</a>
        </h4>
        <div style="background-image: url('{{ site.url }}/img/stories/story_5.jpg'); height: 100px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
        <br/>
        <p>Every morning Benedicta Ayuma gives a thanksgiving prayer for her five year old son who is sick with TB. Since he was diagnosed more than eight months ago...</p>
        <p><a class="btn btn-sm btn-primary" href="{{ site.url }}/tea-or-tb">READ MORE</a></p>
      </div>
    </div>
  </div>
</section> <!-- /.stories -->
