// generic colors

$highlight-bg: rgba(197,17,74,0.25);
$placeholder-color: rgba(#fff,0.45);


// project colors



$blue-primary: #0D68A8;
$blue-secondary: #5394C1;
$cfa-blue: #0D68A8;
$red: #ED1C24;

$purple-primary: #914d6f;
$purple-secondary: #945273;
$rose-gold: #d89f8b;
$rose-gold-secondary: #eadce3;
$input-yellow: #ffe84a;