// generic colors

$highlight-bg: rgba(197,17,74,0.25);
$placeholder-color: rgba(#fff,0.45);


// project colors

$purple-primary: #914d6f;
$purple-secondary: #945273;
$rose-gold: #d89f8b;
$rose-gold-secondary: #eadce3;
$input-yellow: #fdff8a;

$blue-primary: #4d7591;
$blue-secondary: #81c0de;
$cfa-blue: #0D68A8;