{% extends 'layout/story.html' %}

{% block story_headline %}
<h1>What MCAs tea budget can do to help fight Malaria in their counties</h1>
<p> Otiato Guguyu, 4th Aug 2016</p>
{% endblock %}

{% block story_content %}

<p> Eight out of every ten people are at risk of catching Malaria.  On average, a malaria-stricken family spends an estimated quarter of its income on malaria treatment not only on medication but also due to loss of income. </p>
<p> The most effective and most commonly prescribed  medication for the treatment of uncomplicated Malaria is Artemisinin- based combination therapies (ACTS) which cost between Sh200 and Sh250 for an adult treatment dose. </p>
<p> At least 1 million adults who are sick with Malaria would be treated if the Sh241.9 million being spent hospitality/catering by counties was spent on buying Malaria drugs.</p>
<p> According to UNICEF estimates, Malaria afflicted families can only harvest 40 per cent of the crops harvested by healthy families. And as many as 60 per cent of the children in Malaria endemic counties miss school due to absenteeism caused by repeated bouts of malaria.</p>
<p> It accounts for 30- 50 per cent of all outpatient attendance and 20 per cent of all admissions. The Ministry of Health estimates that at least 170 million working days are lost every year due to the disease. </p>
<p> The amount could also buy  insecticide treated nets which can help prevent  29,000 people including children and pregnant women from catching Malaria. The universal use of insecticide-treated bed-nets has been found to reduce episodes of illness by 50%. </p>
<p> One of the challenges is to increase the use of nets in Kenyan households. Slightly over half of the children under five years <a href="https://www.dhsprogram.com/pubs/pdf/SR227/SR227.pdf">sleep under a net</a>. To increase the use of nets for children and pregnant mothers, the cost of the nets has been heavily subsidised through bilateral Malaria programme with the UK government.</p>
<p> The subsidised treated nets cost between Sh50 and Sh150 per net. A similar net in the supermarket sells for between Sh1,450 to Sh1,650. </p>
<p> The UK government intends to ends its support for the programme this year. If the county governments halved their hospitality and catering, it could subsidise the cost of 806,000 nets and prevent at least 403,000 poorest people in Malaria endemic counties from becoming sick.</p>

{% endblock %}
